<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raman.raman.raman.twenty1">
    android:versionCode="2"
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="raman.raman.raman.twenty1.MainActivity" />
        <activity android:name="raman.raman.raman.twenty1.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="raman.raman.raman.twenty1.newUser" />
        <activity android:name="raman.raman.raman.twenty1.playgame" />
        <activity android:name="raman.raman.raman.twenty1.winloss" />
        <activity android:name="raman.raman.raman.twenty1.achievements"></activity>
    </application>

</manifest>